<h1>Veuillez creer un @cocktail.name</h1>
<p></p>




<%= simple_form_for @cocktail do |f| %>
<div class="form-inputs">
  <%= f.input :name %>
</div>



<div class="form-actions">
  <%= f.button :submit %>
</div>


<% end %>
<%= link_to 'Back', cocktails_path %>
